version: '3.9'

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "Your_password123"
    ports:
      - "1433:1433"
    healthcheck:
      test: ["CMD", "/opt/mssql-tools/bin/sqlcmd", "-S", "localhost", "-U", "sa", "-P", "Your_password123", "-Q", "SELECT 1"]
      interval: 10s
      timeout: 3s
      retries: 10

  api:
    build:
      context: .
      dockerfile: TaskBora.Presentation.Api/Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      Database__ConnectionString: "Server=sqlserver,1433;Database=TaskBora;User Id=sa;Password=Your_password123;TrustServerCertificate=True"
    ports:
      - "8080:8080"
    depends_on:
      sqlserver:
        condition: service_healthy
